<section class="two-column-container">
    <div>
        <h2>Why So Ugly?</h2>
        <p>Pretty Functional builds tools to do exactly what you need, without getting in the way. No images, no unnecessary JavaScript, no cumbersome loading, no trackers. Just straightforward, efficient functionality with accessibility at the core. You don’t need to be wowed - you just need results.</p>
    </div>
    <div>
        <h2>Improve Profile Rewriter</h2>
        <p>It's pretty functional, but can be better with your help. Have feedback? A suggestion? Noticed a bug? We’d love to hear from you! Let us know how we can tailor Profile Rewriter to better meet your needs.</p>
    </div>    
</section>