<section>
    <footer>
        <p>Crafted by Marcus Deacey under <b>Pretty Functional Tools</b> (2024) | <a href="https://opensource.org/license/MIT" class="footer-link">MIT License</a><br>
        Contact: <a href="mailto:marcusdeacey@duck.com?subject=Profile%20Rewriter%20General%20Inquiry&body=Hi%20Marcus,%0D%0A%0D%0AI%20wanted%20to%20reach%20out%20regarding%20Profile%20Rewriter:%0D%0A%0D%0A%5BPlease%20write%20your%20message%20here%5D" class="footer-link">marcusdeacey@duck.com</a></p>            
    </footer> 
</section>