* {
    font-family: monospace;
    line-height: 1.4;
    box-sizing: border-box;
}
a {
    text-decoration: underline;
    color: black;
}
.error-message {
    color: red
}
.warning-message {
    color: orange
}