<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Rewriter - Customize Your GPT-4 Responses | Pretty Functional Tools</title>

    {% include 'head/_meta.html' %}
    {% include 'head/_stylesheets.html' %}
    {% include 'head/_favicon.html' %}
    {% include 'head/_twitter.html' %}

    <link rel="canonical" href="https://profile-rewriter.onrender.com">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    {% include 'head/_structured_data.html' %}

</head>
