<script src="{{ url_for('static', filename='js/logger.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/textarea_manager.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/button_manager.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/form_navigation_manager.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/loading_manager.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/form_manager.js') }}" defer></script>
<script src="{{ url_for('static', filename='js/init.js') }}" defer></script>